.containerfoot {
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

.containerfoot h2{
  text-align: center;
  color: #8b0000;
}

/* #horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
  text-align: left;
	}

#horizontal-list {
background-color: white;
/* display: inline; */
/* padding: 10px; */
/* text-decoration: none; */
/* } */

.card{
  font-family: 'Castoro Titling', cursive;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* display: table; */
  width: 300px;
  text-align: center;
  border: solid 5px #003300;
  border-radius: 5%;
}

.card img{
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.cards{
  display: flex;
justify-content: center;
padding: 10px;
}

.card:hover{
  border: #8b0000 solid 5px;
}
